<main *ngIf="sessionStatus === 'logged-out'"
    class="uk-flex uk-flex-center uk-flex-middle uk-background-muted uk-height-viewport">
    <app-login (successfulLogin)="onLogin()"></app-login>
</main>

<main *ngIf="sessionStatus === 'pending'"
    class="uk-flex uk-flex-center uk-flex-middle uk-background-muted uk-height-viewport">
    <div uk-spinner="ratio: 5"></div>
</main>

<main *ngIf="sessionStatus === 'logged-in'"
    class="uk-flex uk-flex-center uk-background-muted uk-height-viewport">
    <app-board (logout)="onLogout()"></app-board>
</main>

<router-outlet></router-outlet>